
@font-face {
  font-family: 'Cardo-Bold';
  src: url('Cardo-Bold.eot?#iefix') format('embedded-opentype'),  url('Cardo-Bold.woff') format('woff'), url('Cardo-Bold.ttf')  format('truetype'), url('Cardo-Bold.svg#Cardo-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
